/* Template elemen loginpage */
.leftPage{
    -fx-background-image: url("ImageSRC/Yogya1.jpg");
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.leftPageGradient {
    -fx-background-color: linear-gradient(to bottom, rgba(102,66,41,0.7), rgba(229,211,179,0.7));
}
.rightPage{
    -fx-background-color: white;
}

/* Template elemen Homepage*/
.hbg{
    -fx-background-image: url(ImageSRC/bg1.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.homePage {
    -fx-background-color: #e5d3b8;
}
.homePage1 {
    -fx-background-image: url("ImageSRC/bg1.png");
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.homePage2 {
    -fx-background-color: #e5d3b8b5;
}
.sideBar {
    -fx-background-color: #d2b48c;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 5);
}
.textColor {
    -fx-fill: #806044;
}
.searchBar {
    -fx-background-color: White;
    -fx-background-radius: 20px;
}

/* Textfield elemen */
.userNameBar {
    -fx-background-color: transparent;
    -fx-border-color: #806044;
    -fx-border-width: 0px 0px 2px 0px ;
    -fx-cursor: hand;
}
.messageBox{
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-border-color: #806044;
    -fx-border-width: 2px 2px 2px 2px ;
    -fx-cursor: hand;
    -fx-text-fill: white
}
.passwordBar {
    -fx-background-color: transparent;
    -fx-border-color: #806044;
    -fx-border-width: 0px 0px 2px 0px ;
}

/* Button Elemen */
.loginButton {
    -fx-background-color: #806044;
    -fx-text-fill: white;
    -fx-border-color: #806044;
    -fx-border-radius: 5px;
}
.closeButton {
    -fx-background-color: transparent;
}

.Datebutton {
    -fx-border-color: #806044;
}

/* Image View */
.bgImage {
    -fx-image: url(ImageSRC/Yogya1.jpg);
}
.bgImage1{
    -fx-background-color: rgba(0, 0, 0, 0.298);
}
.iconLoc {
    -fx-image: url(ImageSRC/location.png);
}
.iconLoc2 {
    -fx-image: url(ImageSRC/star.png);
}
.moreButton {
    -fx-background-color: #806044; 
    -fx-border-radius: 3px;
    -fx-text-fill: white;
}

/* Section Homepage */
.wisata1 {
    -fx-background-image: url(ImageSRC/Malioboro.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-radius: 3px;
}
.wisata2 {
    -fx-background-image: url(ImageSRC/Prambanan.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.wisata3 {
    -fx-background-image: url(ImageSRC/Obelix.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.wisata4 {
    -fx-background-image: url(ImageSRC/tugu1.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.wisata5 {
    -fx-background-image: url(ImageSRC/Klangon.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.wisata6 {
    -fx-background-image: url(ImageSRC/Bukbin1.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.wisata7 {
    -fx-background-image: url(ImageSRC/Heha1.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.category1 {
    -fx-background-image: url(ImageSRC/Alam1.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.category2 {
    -fx-background-image: url(ImageSRC/Kuliner.png);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.category3 {
    -fx-background-image: url(ImageSRC/Religi.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.category4 {
    -fx-background-image: url(ImageSRC/Budaya.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.news{
    -fx-background-color: #d2b48c;
    -fx-background-radius: 5px;
}
.news:hover{
    -fx-border-color: white;
    -fx-border-radius: 5px;
}
.kotakTemplate{
    -fx-background-color: #d2b48c;
    -fx-background-radius:20px;
}
.nimg1 {
    -fx-background-image: url(ImageSRC/News1.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.nimg2 {
    -fx-background-image: url(ImageSRC/News2.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.nimg3 {
    -fx-background-image: url(ImageSRC/News3.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/* Payment Section */
.cardCredit {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #dbd6cf, #696b6f, #dbd6cf);
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 0);
    -fx-padding: 20;
}
.cardJasa{
    -fx-background-color: #806044;
    -fx-background-radius: 15px;
}

/* Profile Section */
.profbutton {
    -fx-background-color: #806044;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
}
.editProf {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #806044;
}

/* Religi Section */
.MainColor {
    -fx-background-color: #e5d3b8;
}

.ImageRadius{
    -fx-background-radius : 20;
}

.bgColorTempatWisata {
    -fx-background-radius : 20;
    -fx-background-color: #e5d3b8;
    -fx-padding: 15 ;
    
}

.MainImageKategoriBudaya {
    -fx-background-image: url(ImageSRC/gambar_utama.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.Button {
    -fx-background-color: Yellow;
    -fx-font-family : "Arial" ; 
    -fx-font-size: 15pt;
    -fx-text-fill: navy
}
.BuyTicketsButton {
    -fx-background-radius : 20;
    -fx-background-color:  #4169e1 ;
    -fx-font-family : "Arial" ;
    -fx-font-size : 12pt ;
    -fx-alignment: Center;
    -fx-text-fill : white;
    -fx-font-weight: bold;}

.ExploreText { 
    -fx-font-family : "Arial" ;
    -fx-alignment: Center;
    -fx-font-size : 14pt ;
    -fx-text-fill : white;
    -fx-font-weight: bold;
}

.LihatDetailText{
    -fx-content-display : center;
    -fx-background-radius : 10;
    -fx-background-color:  #4CAF50 ;
    -fx-font-family : "Arial" ;
    -fx-alignment: Center;
    -fx-font-size : 10pt ;
    -fx-text-fill : white;
    -fx-font-weight: bold; 
}

.DescriptionText {
    -fx-font-family : "Arial" ;
    -fx-font-size : 14pt ;
    -fx-text-fill : white;
    -fx-font-weight: bold;
}

.RatingText {
    -fx-font-style : italic ;
    -fx-font-size : 10pt ;
    -fx-text-fill : black;
}

.TextBudayaPage {
    -fx-font-family : "Georgia" ;
    -fx-font-size: 25pt;
    -fx-text-fill: rgb(13, 56, 82);
}

.BackgroundAnchor {
    -fx-background-color : #a3e5c5;
}

.BackgroundDarkBrown{
    -fx-background-color : #806044;
    -fx-background-image: url(ImageSRC/latarmotif.jpg);
}

.bgGradientLatar{
    -fx-background-color: linear-gradient(to bottom, rgb(248, 222, 203), rgb(255, 255, 255));
}

.MainImageKategoriReligi {
    -fx-background-image: url(ImageSRC/gambar_utama.jpeg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.JudulKategori {
    -fx-font-size : 60pt ;
    -fx-text-fill : white;
    -fx-font-weight: bold;
}

.JudulTempatWisata {
    -fx-font-size : 15pt ;
    -fx-text-fill : #806044;
    -fx-font-weight: bold; 
}

.bgGradient {
    -fx-background-color: linear-gradient(to bottom, rgba(102,66,41,0.7), rgba(229,211,179,0.7));
}

.BuyTicket {
    -fx-background-color :blue;
}

.ImageBunkerKaliadem {
    -fx-background-image: url(ImageSRC/bunker_kaliadem.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.ImageHeha {
    -fx-background-image: url(ImageSRC/heha_sky_view.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.MainImageKategoriAlam {
    -fx-background-image: url(ImageSRC/hutan.jpg);
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/* Ticket */
.latarBuyTicket {
    -fx-background-color:#d2b48c;
    -fx-background-radius: 15px;
}

.buyticketText{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #806044;
}

.numberticketText {
    -fx-font-size: 20px;
    -fx-text-fill: #806044;
}

.totalText {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #806044;
}

.purchaseText {
    -fx-background-color: #4CAF50;
    -fx-text-fill:white;
    -fx-font-size:20px;
    -fx-background-radius:20px;
    -fx-pref-height:50px;
    -fx-pref-width:450px;
}

.cancelText {
    -fx-background-color: #5d5d60b6;
    -fx-text-fill: white;
    -fx-font-size:20px;
    -fx-background-radius:20px;
    -fx-pref-height:60px;
    -fx-pref-width:450px;
    -fx-alignment: center;
}
.captionText{
    -fx-font-size:20px;
    -fx-alignment: center;
    -fx-text-fill: white;
}

.view-details-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.buy-ticket-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}